
/*HTML STYLES -------------------------------------------------------------------------------*/
/*HTML STYLES -------------------------------------------------------------------------------*/
/*HTML STYLES -------------------------------------------------------------------------------*/

body#html-body {
	margin: 0;
	padding: 0;
	font-family: noto sans kr regular;
}

#menu-html {
	position: absolute;
	width: 100%;
	background: #6861ad;
	padding: 0 15px;
	box-sizing: border-box;
	border-bottom: 1px;
	height: 50px;
    box-shadow: 0 6px 3px -4px #333;
}

#menu-html img {
	float: left;
	width: 150px;
	height: 50px;
	margin-top: 9px;
}

nav.html {
	float: right;
	position: relative;
}

nav.html ul {
	margin: 0;
	padding: 0;
	display: flex;
}

nav.html ul li {
	list-style: none;
}

nav.html ul li a {
	display: block;
	color: white;
	padding: 15px 10px;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}

nav.html ul li a:hover {
	background-color: #504b84;
}

 .active-html {
 	background-color: #504b84;
 }

div.tabContainer{
	width: 100%;
	height: 500px;
}

div.buttonsContainer{
	height: 15%;
}

div.buttonsContainer button{
	width: 25%;
	height: 100%;
	float: center;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	background-color: #eee;
}

div.buttonsContainer button{
	background-color: #d7d4d4;
}

div.tabPanel{ 
	height: 85%;
	background-color: gray;
	color: white;
	text-align: center;
	padding-top: 105px;
	box-sizing: border;
}
/*JS STYLES -----------------------------------------------------------------------------------*/
/*JS STYLES -----------------------------------------------------------------------------------*/
/*JS STYLES -----------------------------------------------------------------------------------*/

body#js-body {
	margin: 0;
	padding: 0;
  font-family: noto sans kr regular;
  background: whitesmoke;
}

#menu-js {
	position: absolute;
	width: 100%;
	background: #00a7da;
	padding: 0 20px;
	box-sizing: border-box;
	border-bottom: 1px;
	height: 60px;
    box-shadow: 0 6px 3px -4px #333;
}

#menu-js img {
	float: left;
	width: 150px;
	height: 50px;
	margin-top: 9px;
}

nav.js {
	float: right;
	position: relative
}

nav.js ul {
	margin: 0;
	padding: 0;
	display: flex;
}

nav.js ul li {
	list-style: none;
}

nav.js ul li a {
	display: block;
	color: white;
	padding: 15px 10px;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}

nav.js ul li a:hover {
	background-color: #008ab4;
}

 .active-js {
 	background-color: #008ab4;
 }


#topic-con{
	width: 100%;
	height: 480px;
	background-color: #203746;
	box-shadow: 0 3px 2px -2px #999;
	display: block;

}

table.js {
	border-collapse: collapse;
	width: 100%;
	position: absolute;
	margin-top: 100px;
	color: white;
	text-align: center;
}


td{
	
	padding: 5px;

}

a.section1 {
	text-decoration: none;
	color: white;
}

a.section1:hover {
	color:  #00a7da;
}

a.section1-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

p.intro{
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    position: absolute;

}

.box1 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

h2 {
	text-align: center;
	margin-top: 50px;
	color: #333;
}

.box2 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section2 {
	text-decoration: none;
	color: white;
}

a.section2:hover {
	color:  #00a7da;
}

a.section2-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}


.box5 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section5 {
	text-decoration: none;
	color: white;
}

a.section5:hover {
	color:  #00a7da;
}

a.section5-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}


.box15 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section15 {
	text-decoration: none;
	color: white;
}

a.section15:hover {
	color:  #00a7da;
}

a.section15-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box25 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section25 {
	text-decoration: none;
	color: white;
}

a.section25:hover {
	color:  #00a7da;
}

a.section25-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box35 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section35 {
	text-decoration: none;
	color: white;
}

a.section35:hover {
	color:  #00a7da;
}

a.section35-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box26 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section26 {
	text-decoration: none;
	color: white;
}

a.section26:hover {
	color:  #00a7da;
}

a.section26-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box36 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section36 {
	text-decoration: none;
	color: white;
}

a.section36:hover {
	color:  #00a7da;
}

a.section36-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}


.box37 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section37 {
	text-decoration: none;
	color: white;
}

a.section37:hover {
	color:  #00a7da;
}

a.section37-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}


.box39 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section39 {
	text-decoration: none;
	color: white;
}

a.section39:hover {
	color:  #00a7da;
}

a.section39-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box19 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section19 {
	text-decoration: none;
	color: white;
}

a.section19:hover {
	color:  #00a7da;
}

a.section19-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box7 {
	height: 400vh;
	display: block;
	background-color: whitesmoke;
}

a.section7 {
	text-decoration: none;
	color: white;
}

a.section7:hover {
	color:  #00a7da;
}

a.section7-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box17 {
	height: 280vh;
	display: block;
	background-color: whitesmoke;
}

a.section17 {
	text-decoration: none;
	color: white;
}

a.section17:hover {
	color:  #00a7da;
}

a.section17-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box18 {
	height: 200vh;
	display: block;
	background-color: whitesmoke;
}

a.section18 {
	text-decoration: none;
	color: white;
}

a.section18:hover {
	color:  #00a7da;
}

a.section18-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box40 {
	height: 300vh;
	display: block;
	background-color: whitesmoke;
}

a.section40 {
	text-decoration: none;
	color: white;
}

a.section40:hover {
	color:  #00a7da;
}

a.section40-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box20 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section20 {
	text-decoration: none;
	color: white;
}

a.section20:hover {
	color:  #00a7da;
}

a.section20-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box10 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section10 {
	text-decoration: none;
	color: white;
}

a.section10:hover {
	color:  #00a7da;
}

a.section10-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box22 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section22{
	text-decoration: none;
	color: white;
}

a.section22:hover {
	color:  #00a7da;
}

a.section22-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}
.box21 {
	height: 290vh;
	display: block;
	background-color: whitesmoke;
}

a.section21{
	text-decoration: none;
	color: white;
}

a.section21:hover {
	color:  #00a7da;
}

a.section21-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box31 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section31{
	text-decoration: none;
	color: white;
}

a.section31:hover {
	color:  #00a7da;
}

a.section31-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box8 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section8 {
	text-decoration: none;
	color: white;
}

a.section8:hover {
	color:  #00a7da;
}

a.section8-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box38 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section38 {
	text-decoration: none;
	color: white;
}

a.section38:hover {
	color:  #00a7da;
}

a.section38-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box9 {
	height: 150vh;
	display: block;
	background-color: whitesmoke;
}

a.section9 {
	text-decoration: none;
	color: white;
}

a.section9:hover {
	color:  #00a7da;
}

a.section9-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box29 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section29 {
	text-decoration: none;
	color: white;
}

a.section29:hover {
	color:  #00a7da;
}

a.section29-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}


.box3 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section3 {
	text-decoration: none;
	color: white;
}

a.section3:hover {
	color:  #00a7da;
}

a.section3-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box13 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section13 {
	text-decoration: none;
	color: white;
}

a.section13:hover {
	color:  #00a7da;
}

a.section13-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}


.box23 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section23 {
	text-decoration: none;
	color: white;
}

a.section23:hover {
	color:  #00a7da;
}

a.section23-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}


.box24 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section24 {
	text-decoration: none;
	color: white;
}

a.section24:hover {
	color:  #00a7da;
}

a.section24-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}


.box34 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section34 {
	text-decoration: none;
	color: white;
}

a.section34:hover {
	color:  #00a7da;
}

a.section34-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}



.box11 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section11{
	text-decoration: none;
	color: white;
}

a.section11:hover {
	color:  #00a7da;
}

a.section11-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box12 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section12{
	text-decoration: none;
	color: white;
}

a.section12:hover {
	color:  #00a7da;
}

a.section12-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box32 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section32{
	text-decoration: none;
	color: white;
}

a.section32:hover {
	color:  #00a7da;
}

a.section32-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box33 {
	height: 160vh;
	display: block;
	background-color: whitesmoke;
}

a.section33{
	text-decoration: none;
	color: white;
}

a.section33:hover {
	color:  #00a7da;
}

a.section33-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.box14 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section14{
	text-decoration: none;
	color: white;
}

a.section14:hover {
	color:  #00a7da;
}

a.section14-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box6 {
	height: 100vh;
	display: block;
	background-color: whitesmoke;
}

a.section6{
	text-decoration: none;
	color: white;
}

a.section6:hover {
	color:  #00a7da;
}

a.section6-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.box4 {
	height: 220vh;
	display: block;
	background-color: whitesmoke;
}

a.section4 {
	text-decoration: none;
	color: white;
}

a.section4:hover {
	color:  #00a7da;
}

a.section4-partner {
	margin-top: 20px;
	color: #3870c9;
	position: absolute;
	float: left;
	left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

p{
	margin-left: 0px;
	margin-right: 80px;
}

/*INDEX STYLES--------------------------------------------------------------------------------*/
/*INDEX STYLES--------------------------------------------------------------------------------*/
/*INDEX STYLES--------------------------------------------------------------------------------*/

button.start-button{
  background-color: #008d89;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  font-family: arial;
}

button.start-button:hover{
	background-color: #1b6d4c;
}
body.start{
	background-color: #203746;
}

img.encore{
	height: 190px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 190px;
}


/*HOME STYLES------------------------------------------------------------------------------*/
/*HOME STYLES------------------------------------------------------------------------------*/
/*HOME STYLES------------------------------------------------------------------------------*/

button.html-c{
  background-color: #6861ad;
  border: none;
  color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-decoration: none;
  display: block;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  font-family: noto sans kr regular;
}

button.html-c:hover{
	height: 250px;
	width: 250px;
}

button.css-c{
  background-color: #32bc89;
  border: none;
  color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-decoration: none;
  display: block;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  font-family: noto sans kr regular;
}

button.css-c:hover{
	height: 250px;
	width: 250px;
}

button.js-c{
  background-color: #00a7da;
  border: none;
  color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-decoration: none;
  display: block;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  font-family: noto sans kr regular;
}

button.js-c:hover{
	height: 250px;
	width: 250px;
}

table.circ-con{
	margin:auto;
	margin-top: 190px;
	margin-left: 650px;
	left: 50%;
	transform: translateX(-50%);
}

body.home{
	background-color: #203746;
}


td.circ{
	padding-right: 90px;
}


/*SAME STYLES---------------------------------------------------------------------------------------*/
/*SAME STYLES---------------------------------------------------------------------------------------*/
/*SAME STYLES---------------------------------------------------------------------------------------*/

#pagecontainer {
	position: relative;
	min-height: 100vh;
}

#content {
	padding-bottom: 2.5rem;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 3rem;
	background-color: #4f4f4f;
	top: 500px;
}

.copyright {
	background-color: #4f4f4f;
	float: right;
	font-family: ahaya libre;
	font-size: 15px;
	color: white;
	height: 3rem;
}



/*CSS STYLES------------------------------------------------------------------------------------------*/
/*CSS STYLES------------------------------------------------------------------------------------------*/
/*CSS STYLES------------------------------------------------------------------------------------------*/

css-body {
  margin: 0;
  padding: 0;
  font-family: noto sans kr regular;
  background-color: #203746;
}

#menu-css {
  position: absolute;
  width: 100%;
  background: #32bc89;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px;
  height: 60px;
    box-shadow: 0 6px 3px -4px #333;
}

#menu-css img {
  float: left;
  width: 150px;
  height: 50px;
  margin-top: 9px;
}

img.encore{
  height: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 190px;
}



nav.css {
  float: right;
  position: relative
}

nav.css ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav.css ul li {
  list-style: none;
}

nav.css ul li a {
  display: block;
  color: white;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

nav.css ul li a:hover {
  background-color: #39a07a;
}

 .active-css {
  background-color: #39a07a;
}

.css-content {
  background: #f4f5f4; 
  margin: auto;
  padding: 10px;
  margin-top: 30px;
  width: 50%;
  font-size: 20px;
}
.h1{
    
}

button#prev{
  background-color: #00a7da; 
  color: white; 
  border: 2px solid white;
  padding: 10px 32px;
  font-size: 16px;

}

button#next{
  float: right;
    background-color: #00a7da; 
  color: white; 
  border: 2px solid white;
  padding: 10px 32px;
  font-size: 16px;
}

.content {
  background: #f4f5f4; 
  margin: auto;
  padding: 10px;
  width: 50%;
}

.button {
  background-color: #32bc89;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 35px;
  margin-top: 30px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button1:hover {
  background-color: #50C878;
  color: white;
}

.button2 {
   background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button2:hover {
   background-color: #50C878;
  color: white;
}

.button3 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button3:hover {
   background-color: #50C878;
  color: white;
}

.button4 {
   background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button4:hover {
     background-color: #50C878;
  color: white;
}

.button5 {
  background-color:#32bc89; 
  color: white; 
  border: 2px solid white;
}
.button5:hover {
  background-color: #50C878;
  color: white;
}
.button6 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button6:hover {
  background-color: #50C878;
  color: white;
}

.button7 {
   background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button7:hover {
   background-color: #50C878;
  color: white;
}

.button8 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button8:hover {
   background-color: #50C878;
  color: white;
}

.button9 {
   background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button9:hover {
     background-color: #50C878;
  color: white;
}

.button10 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button10:hover {
   background-color: #50C878;
  color: white;
}

.button11 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button11:hover {
   background-color: #50C878;
  color: white;
}

.button12 {
   background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button12:hover {
     background-color: #50C878;
  color: white;
}

.button13 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button13:hover {
   background-color: #50C878;
  color: white;
}

.button14 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button14:hover {
   background-color: #50C878;
  color: white;
}

.button15 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button15:hover {
   background-color: #50C878;
  color: white;
}

.button16 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button16:hover {
   background-color: #50C878;
  color: white;
}

.button17 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button17:hover {
   background-color: #50C878;
  color: white;
}

.button18 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button18:hover {
   background-color: #50C878;
  color: white;
}

.button19 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button19:hover {
   background-color: #50C878;
  color: white;
}

.button20 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button20:hover {
   background-color: #50C878;
  color: white;
}

.button21 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button21:hover {
   background-color: #50C878;
  color: white;
}

.button22 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button22:hover {
   background-color: #50C878;
  color: white;
}

.button23 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button23:hover {
   background-color: #50C878;
  color: white;
}

.button24 {
  background-color: #32bc89; 
  color: white; 
  border: 2px solid white;
}

.button24:hover {
   background-color: #50C878;
  color: white;
}

.css-cont {
  position: absolute;
  margin-top: 100px;
    
}
.picture{
	width: 100%
}
.p1{
  position: relative;
  width: 50%;
  float:left;
  left: 17%;
  
}
.p2 {
  position: relative;
  width: 50%;
  float: right;
  left: 8%;
}
   