
body {
	margin: 0;
	padding: 0;
	font-family: noto sans kr regular;
}

#menu-js {
	position: absolute;
	width: 100%;
	background: #00a7da;
	padding: 0 20px;
	box-sizing: border-box;
	border-bottom: 1px;
	height: 60px;
    box-shadow: 0 6px 3px -4px #333;
}

#menu-js img {
	float: left;
	width: 150px;
	height: 50px;
	margin-top: 9px;
}

img.encore{
	height: 190px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 190px;
}

#topic-con{
	width: 100%;
	height: 430px;
	background-color: #203746;
	box-shadow: 0 3px 2px -2px #999;


}



button.start-button{
  background-color: #008d89;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 4px;
  font-family: arial;
  
}

table{
	color: white;
	margin-top: 110px;
	position: absolute;
	margin-left: 50px;
	left: 50%;
	transform: translateX(-50%);

}


button.html-c{
  background-color: #446beb;
  border: none;
  color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-decoration: none;
  display: block;
  font-size: 30px;
  cursor: pointer;
 font-family: noto sans kr regular;
  margin-top: 
  
}

button.css-c{
  background-color: #32bc89;
  border: none;
  color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-decoration: none;
  display: block;
  font-size: 30px;
  cursor: pointer;
  font-family: noto sans kr regular;
  margin-top: 
  
}

button.js-c{
  background-color: #00a7da;
  border: none;
  color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-decoration: none;
  display: block;
  font-size: 30px;
  cursor: pointer;
font-family: noto sans kr regular;
  margin-top: 
  
}

table.circ-con{
	margin:auto;
	margin-top: 190px;
	margin-left: 50px;
	left: 50%;
	transform: translateX(-50%);
}

body.start{
	background-color: #203746;
}

body.home{
	background-color: #203746;
}

td {
	padding-right: 130px;

}

td.circ{
	padding-right: 90px;
}

h1 {
	float: left;
	color: white;
	font-family: bebas neue;
	text-transform: uppercase;
}

nav.js {
	float: right;
	position: relative
}

nav.js ul {
	margin: 0;
	padding: 0;
	display: flex;
}

nav.js ul li {
	list-style: none;
}

nav.js ul li a {
	display: block;
	color: white;
	padding: 15px 10px;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}

nav.js ul li a:hover {
	background-color: #008ab4;
}

 .active-js {
 	background-color: #008ab4;
 }

#pagecontainer {
	position: relative;
	min-height: 100vh;
}

#content {
	padding-bottom: 2.5rem;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 3rem;
	background-color: #4f4f4f;
	top: 500px;
}

.copyright {
	background-color: #4f4f4f;
	float: right;
	font-family: ahaya libre;
	font-size: 15px;
	color: white;
	margin-right: 30px;
	height: 3rem;
}

